.text__title {
  font-family: "Pacifico", cursive;
}

.img-carrosel {
  object-fit: cover;
  object-position: 0 80%;
  height: 400px;
}

.text__title__color {
  color: darkred;
}

.btn__color {
  background-color: darkred;
  color: white;
}

.card__border {
  border-color: darkred;
}
